<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left" start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
    <button ion-button menuToggle="right" end>
      <ion-icon name="contact"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item> 
      <ion-label>Username</ion-label>
      <ion-label>{{username}}</ion-label>
    </ion-item>
    <form (ngSubmit)="editInfo()">
      <ion-item>
        <ion-label>Old Password</ion-label>
        <ion-input type="password" [(ngModel)]="oldPass" name="oldPass"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>New Password</ion-label>
        <ion-input type="password" [(ngModel)]="newPass" name="newPass"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
      </ion-item>
      <button ion-button type="submit" block>Update Info</button>
    </form>

</ion-content>