<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left" start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sign up</ion-title>
    <button ion-button menuToggle="right" end>
      <ion-icon name="contact"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <form (ngSubmit)="signUp()">
      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input type="text" [(ngModel)]="username" name="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>First Name</ion-label>
        <ion-input type="text" [(ngModel)]="firstName" name="firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Last Name</ion-label>
        <ion-input type="text" [(ngModel)]="lastName" name="lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
      </ion-item>
      <button ion-button type="submit" block>Login</button>
    </form>

</ion-content>