<ion-header>
  <ion-navbar color="weatherbru">
    <ion-title>Modal</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="closeModal()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <form>
        <ion-item>
            <ion-label stacked>Name</ion-label>
            <ion-input [(ngModel)]="form.title" name="title" type="text" ></ion-input>
        </ion-item>
        <ion-item>    
                <ion-select [(ngModel)] = "form.hour" name="hour" style="margin-left:80px">
                  <ion-option *ngFor ="let hour of hours" >{{hour}}</ion-option>
                </ion-select>
                      
                <ion-select [(ngModel)] = "form.minute" name="minute" style="margin-left:80px">
                  <ion-option *ngFor ="let min of minutes" >{{min}}</ion-option>
                </ion-select>
            
                <ion-select [(ngModel)]="form.type" name="type" style="margin-left:80px">
                    <ion-option value="AM">AM</ion-option>
                    <ion-option value="PM">PM</ion-option>
                </ion-select>            
        </ion-item>

        <button ion-button block (click)="submitModal()">Add Alarm</button>
    </form>
</ion-content>
