page-causes {
    
}

#circle {
    background: transparent;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color:black;
    border: 1px solid black
   
}
.innerTEXT{
    position:absolute;
    top:80px;
    left:60px;
}