page-causes {
    
}

#circle {
    background: transparent;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color:black;
    border: 1px solid black
   
}
.innerTEXT{
    position:absolute;
    top:80px;
    left:60px;
}

#causes .cause-container {
  padding-left: 0;
  width: fit-content;
  display: block;
  margin: 0 auto;
}

#causes-header {
  font-size: 20px;
  font-weight: bold;
  width: fit-content;
  display: block;
  margin: 1rem auto;
}

@media only screen and (max-width: 700px) {
  #causes .cause-container, #causes-header {
    margin: 1rem;
  }
}