<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <h1><ion-icon name="document" item-left style="margin:30px"></ion-icon>Behbes</h1>
    <h1>Possible Causes</h1>
    <button ion-item>
            
            
            <div class="item-note" item-right>
                
            </div>
        </button>
    <ion-list>
        
    </ion-list>
</ion-content>

<!--
<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>-->