.list {
    font-size: 2.4rem;
    margin: 1rem 2.4rem !important;
}

label {
    line-height: 5rem;
}

.checkbox {
    margin: 0 1rem;
}

#form #form-header * {
  margin: 1rem 2.4rem !important;
}

#form p {
  font-size: 1.4em;
}

#form h3 {
  font-weight: bold !important;
  font-size: 3rem !important;
  margin-bottom: 2rem;
}

#form button {
  margin: 1rem 2.4rem !important;
}

@media only screen and (max-width: 700px) {
  #form #form-header * {
    display: block !important;
    width: 30rem !important;
    margin: 2rem auto !important;
    text-align: center !important;
  }
  #form button {
    display: block !important;
    width: 7em;
    margin: 10px auto !important;
  }
}