.invalid {
            border: 1px solid #ea6153;
        }

<<<<<<< HEAD

}

=======
.error {
    color: red;
}

#login {
        margin-left: 14px;
        width: 98%;
}
>>>>>>> 1dfc25aab8a3a4c459f622c64ef685672f56565e
