<ion-header>
  <ion-navbar id="login-nav">
    <button ion-button menuToggle="left" start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="font-family: 'Roboto'; color: white;">Login</ion-title>
    <button ion-button menuToggle="right" end>
      <ion-icon style="size: 30px" name="contact" style="color: white;"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-card style="height: inherit; margin: 1rem; position: relative; top: 60px;">
<ion-content padding>
    <form novalidate *ngIf ='!forgottenPass' (ngSubmit)="login(loginForm)" [formGroup]="loginForm">
        <ion-item>
            <ion-label floating>Username</ion-label>
            <ion-input type="text" value="" formControlName="username"></ion-input>
        </ion-item>
        <ion-item no-lines *ngIf="( loginForm.get('username').hasError('minlength') || loginForm.get('username').hasError('required') ) && loginForm.get('username').touched">
            <div class="error" *ngIf="loginForm.get('username').hasError('required') && loginForm.get('username').touched">
                Username is required
            </div>
        </ion-item>
        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" value="" formControlName="password"></ion-input>
        </ion-item>
        <ion-item no-lines *ngIf="( loginForm.get('password').hasError('required') || loginForm.get('password').hasError('password') ) && loginForm.get('password').touched">
            <div class="error" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
                Password is required
            </div>
        </ion-item>
        <br />
        <button style="width:98%; margin-left:14px;" type="submit" id="login" ion-button [disabled]="loginForm.invalid">Login</button>
    </form>
    <a style="margin-left:14px; margin-top: 14px;" *ngIf='!forgottenPass' (click)='forgottenPass=true'>Forgot password ?</a>

    <form *ngIf='forgottenPass' (ngSubmit)='forgotPass(forgotPasswordForm)' [formGroup]="forgotPasswordForm">
      <ion-item>
            <ion-label floating>Username</ion-label>
            <ion-input type="text" value="" formControlName="name"></ion-input>
        </ion-item>
        <ion-item no-lines *ngIf="( forgotPasswordForm.get('name').hasError('minlength') || forgotPasswordForm.get('name').hasError('required') ) && forgotPasswordForm.get('name').touched">
            <div class="error" *ngIf="forgotPasswordForm.get('name').hasError('required') && forgotPasswordForm.get('name').touched">
                Username is required
            </div>
        </ion-item>
        <button style="width:98%; margin-left:14px;" type="submit" id="login" ion-button [disabled]="forgotPasswordForm.invalid">Reset Password</button>
    </form>
    <button *ngIf='forgottenPass' style="width:98%; margin-left:14px;" ion-button (click)='forgottenPass=false'>Go Back</button> 
</ion-content>
</ion-card>